<div class="alert alert-light" style="background: #eaeff1;" role="alert">
    <a class="alert-link" [routerLink]="''" style="color: cadetblue;">
        <img src="https://raw.githubusercontent.com/u4shivam/code-repo/master/OIP (2).jpg"/>
        Get your Home Food</a>
</div>


