.background {
    height: 100%;
    background-repeat: no-repeat;
   /*--background-image: linear-gradient(rgb(5, 109, 153), rgb(9, 60, 94));*/
    background-image: linear-gradient(180deg, #eaeff1 32%, #d7e2e6 92%)!important;
  }