 <div class="d-flex align-items-center p-3 px-sm-4">
    <h5 class="my-0 mr-md-auto font-weight-bold">
        <app-header></app-header>
    </h5>
    <nav class="navbar navbar-expand-lg">
      <div class="alert alert-light" role="alert">
        <a class="alert-link" [routerLink]="''">Home</a>
      </div>
    

      <div class="alert alert-light" role="alert" *ngIf="!loggedin">
      <a  class="alert-link" [routerLink]="'/login'">Login</a>
      </div>
      <div class="alert alert-light" role="alert" *ngIf="!loggedin">
        <a class="alert-link"  class="btn btn-outline-info" [routerLink]="'/register'">Sign up</a>
      </div>
      
      <div class="btn-group" *ngIf="loggedin">
        <button type="button" [routerLink]="'/foodbox'" class="alert alert-secondary alert-link">{{currentUser.name | titlecase}}</button>
        <button type="button" class="alert alert-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>

        <div class="dropdown-menu" *ngIf="isAdmin">
          <a class="dropdown-item" [routerLink]="'/addrestaurant'">Add Restaurant</a>
          <a class="dropdown-item" [routerLink]="'/addfood'">Add & Update Food</a>
          <a class="dropdown-item" [routerLink]="'/editrestaurant'">Update Restaurant</a>
          <a class="dropdown-item" [routerLink]="'/profile'">Cart</a>
          <div class="dropdown-divider"></div>
          
        </div>
        
        <div class="dropdown-menu" *ngIf="!isAdmin">
          <a class="dropdown-item" [routerLink]="'/summary'">My Order</a>
          <a class="dropdown-item" [routerLink]="'/profile'">Profile</a>
          <div class="dropdown-divider"></div>
          
        </div>
        </div><span>&nbsp;&nbsp;&nbsp;&nbsp;  </span>
        <button type="button" (click)="logOut()" class="btn btn-dark btn-sm" *ngIf="loggedin">Logout</button>
      </nav>
  </div>