<hr/>

<footer class="footer mt-auto py-3">
  <div class="container">
      
     
    <nav class="navbar navbar-light bg-light">
      <div *ngIf="isAdmin"> 
      <span class="text-muted">Admin Shortcuts</span></div>
      <a class="text-muted" *ngIf="isAdmin" [routerLink]="'/addrestaurant'">Add Restaurant</a>
      <a class="text-muted" *ngIf="isAdmin" [routerLink]="'/addfood'">Add & Update Food</a>
      <a class="text-muted" *ngIf="isAdmin" [routerLink]="'/editrestaurant'">Update Restaurant</a>
      <a class="text-muted" *ngIf="isAdmin" [routerLink]="'/registeradmin'">Sign Up as Admin</a>
      <a class="text-muted" *ngIf="!isAdmin" [routerLink]="'/adminlogin'">Login as Admin</a>
      <a class="text-muted" *ngIf="!isAdmin" [routerLink]="'/about'">About Us</a>
      <a class="text-muted" *ngIf="!isAdmin" [routerLink]="''">Home</a>
      <a class="text-muted" *ngIf="!isAdmin" [routerLink]="'/login'">Login</a>
    </nav>
    <small class="d-block mb-3 text-muted" style="text-align: center;">&copy; foodbox.com</small> 
  </div>
</footer>