body {
    background: #14161D;
  }
  
  /* Search Bar */
  
  .hero--video {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 600px;
  }
  
  .hero video {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    right: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .hero .search {
    position: relative;
    vertical-align: middle;
    z-index: 2;
  }
  
  .hero .search input {
    width: 100%;
    height: 76px;
    line-height: 76px;
    border: 1px solid #111;
    background: rgba(0, 0, 0, 0.8);
    font-size: 27px;
    padding: 5px 5px 5px 47px;
    color: #fff;
    position: relative;
    border-radius: 0;
  }
  
  .hero .search button {
    position: absolute;
    top: 6px;
    right: 6px;
    color: #fff;
    background: #88687b;
    font-size: 27px;
    height: 65px;
    line-height: 65px;
    width: 68px;
    padding: 0;
    border: 0;
  }
  
  /* Navigation Bar */
  
  .menu-hamburger {
    bottom: calc(50% - 10px);
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .menu-hamburger span {
    width: 30px;
    height: 4px;
    display: block;
    background: #fafafa;
    margin-bottom: 4px;
  }
  
  .menu-hamburger span:last-of-type {
    margin-bottom: 0;
  }
  
  nav {
    background: #010101;
    z-index: 3;
  }
  
  nav .navbar-nav li.navbar-item {
    line-height: 110px;
    margin-left: -5px;
  }
  
  nav .navbar-nav li.navbar-item a {
    padding: 0 20px;
  }
  
  /* Media Queries */
  
  @media (max-width: 575.98px) {
    nav.h-navbar {
      max-height: 70px;
    }
  
    nav .navbar-header img {
      max-width: 70px;
    }
  
    .menu-hamburger {
      bottom: calc(50% - 12px);
    }
  }
  
  @media (max-width: 767.98px) {
    nav.h-navbar {
      max-height: 90px;
    }
  
    .hero .search input {
      background: rgba(0, 0, 0, 0.92);
      font-size: 20px;
      padding: 5px 5px 5px 10px;
      height: 60px;
    }
  
    .hero .search button {
      height: 48px;
      width: 48px;
      line-height: 48px;
    }
  }
  
  @media (max-width: 991.98px) {
    nav .navbar-nav li.navbar-item a {
      padding: 0 10px;
    }
  
    .row {
      width: 100%;
    }
  }
  button, input, optgroup, select, textarea {
    margin: 0;
    font-size: 12px;
    width: fit-content;
    font-family: inherit;
    line-height: inherit;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 1.0rem 1.25rem 0rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}