
 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <section class="hero hero--video">
    <div class="container">
      <div class="col-12">
        <div class="search">
          <div class="form-group" style="float: center;">
            <input id="name" [(ngModel)]="name" placeholder="Search the Restaurant"/>
          </div>
          <form>
            
           <!-- <input class="input" type="text" name="s" placeholder="How may we help you?">-->
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
    </div><!-- .container-->
    <video class="d-lg-block" autoplay loop muted>
     
      <source src="https://raw.githubusercontent.com/u4shivam/code-repo/master/video%20(1).mp4" type="video/mp4">
        
    </video>
  </section><!-- .hero-->



<br><br>

 
    

  <div class="row container-xl">
    <div class="col-5">
      <div class="list-group list-group-horizontal-sm" >
        <button type="button" class="btn btn-info btn-lg list-group-item list-group-item-action active" (click)="toggleDisplayDivIf()" style="width: 25%;text-align: center;">Sort By <p class="fa fa-forward"></p>
        </button>
        <div *ngIf="!isShowDivIf" class="list-group list-group-horizontal-sm">
        <button type="button" class="list-group-item list-group-item-action" (click)="sortByName()">Name(A to Z)</button>
        <button type="button" class="list-group-item list-group-item-action"(click)="sortByNameDsc()">Name(Z to A)</button>
        <button type="button" class="list-group-item list-group-item-action"(click)="sortByCity()">City(A to Z)</button>
        <button type="button" class="list-group-item list-group-item-action"(click)="sortByCityDsc()">City(Z to A)</button>
        <button type="button" class="list-group-item list-group-item-action" (click)="sortByState()">State(A to Z )</button>
        <button type="button" class="list-group-item list-group-item-action"(click)="sortByStateDsc()">State(Z to A)</button>
      </div>
      </div>
    </div>

 </div>
 <br>
<div class="row ">
    <div class="col-md-3" *ngFor="let restaurant of restaurants | filter:name">
        <div class="card mb-4 shadow-sm">
          <div class="row no-gutters">
            <div class="col-md-4">
            <img class="bd-placeholder-img card-img-top p-2" width="auto" height="auto" [src]="restaurant.image"/> 
          </div>
          <div class="col-md-8">
            <div class="card-header">
              <h5 class="card-title">{{restaurant.name}}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <strong>Recommended</strong>: {{restaurant.speciality | slice: 0:40}}...
                </p>
                <p class="card-text">
                    <strong>Address</strong>: {{restaurant.address}}</p>
                    
              <a [routerLink]="['/details',restaurant.rid]" class="btn btn-info  stretched-link">Menu</a>
              </div>
            </div></div>
        </div>
    </div>
</div>