
    <div >
      <div class="row">
        <div class="col-3">
          <picture >
            <img width="250" height="250" class="img-thumbnail" [src]="restaurant.image"/>
          </picture>
          <br><br><br><br>
            <app-cart></app-cart>
          
        </div>
        <div class="col-2">
          <h5 class="display-5">
              {{restaurant.name}}
          </h5>
          <p class="lead">{{restaurant.description}}.</p>
          <p class="lead">{{restaurant.speciality}}.</p>
          <hr class="my-4">
          <p class="lead">
            <strong>
              Address:
            </strong>
            {{restaurant.address}}, {{restaurant.city}}, {{restaurant.state}}
          </p>
        </div>
     
    <div class="col -7">
    <div class="row container">
      <div class="col-5">
        <div class="list-group list-group-horizontal-sm" >
          <button type="button" class="btn btn-light list-group-item list-group-item-action active" (click)="toggleDisplayDivIf()" style="width: 10%;">
            Sort By
          </button>
          <div *ngIf="!isShowDivIf" class="list-group list-group-horizontal-sm">
          <button type="button" class="list-group-item list-group-item-action" (click)="sortByPrice()">Sort By Price(Low to High)</button>
          <button type="button" class="list-group-item list-group-item-action"(click)="sortByPriceDsc()">Sort By Price(High to Low)</button>
          <button type="button" class="list-group-item list-group-item-action"(click)="sortByPrice()">Sort By Name(Z to A)</button>
          <button type="button" class="list-group-item list-group-item-action"(click)="sortByPriceDsc()">Sort By Name(A to Z)</button>
          
        </div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <div class="form-group" style="float: right;">
          <input id="name" [(ngModel)]="name" placeholder="Search your food"/>
        </div>
        </div>
        
 
   </div>
    <div class="container-xl">
      <div class="row">
        <div class="col">
        <div *ngFor="let resfood of food | filter:name">
            <app-menu [foodItem]="resfood"></app-menu>
        </div>
        </div>
      
      </div>
    </div>
  </div>